.x-grid-row .intel-alt-color1 { background-color:rgba(158,242,255,0.4) !important; }
.x-grid-row .intel-alt-color2  { background-color:rgba(242, 242, 242, 0.4) !important; }

.x-grid-row .intel-editor-cell {  cursor:pointer !important; }
.x-grid-row .intel-editor-cell *{ cursor:pointer !important; }

.x-grid-cell.intel-red-cell {background-color:rgba(255, 0, 0, 0.30) !important; }
.x-grid-row-selected .x-grid-cell.intel-red-cell,
.x-grid-row-over .x-grid-cell.intel-red-cell {background-color:rgba(255, 0, 0, 0.50) !important; }

.x-grid-cell.intel-green-cell {background-color:rgba(0, 255, 0, 0.30) !important;}
.x-grid-row-selected .x-grid-cell.intel-green-cell,
.x-grid-row-over .x-grid-cell.intel-green-cell {background-color:rgba(0, 255, 0, 0.50) !important;}

.intel-tooltip {
	padding:10px;
	background-color:#C0D9FA;
	border-radius:8px;
}

.intel-tooltip-triangle {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #C0D9FA;
	height: 0px;
	width: 0px;
}	