/********************* General app stuff *************/
.x-grid-row.intel-row-35px > .x-grid-cell { height:35px !important; }
.x-grid-row.intel-row-45px  > .x-grid-cell { height:45px !important; }
.x-grid-row.intel-row-80px  > .x-grid-cell { height:80px !important; }
.x-grid-row.intel-row-115px  > .x-grid-cell { height:115px !important; }
.x-grid-row.intel-row-150px  > .x-grid-cell { height:150px !important; }
.x-grid-row.intel-row-185px  > .x-grid-cell { height:185px !important; }
.x-grid-row.intel-row-220px  > .x-grid-cell { height:220px !important; }
.x-grid-row.intel-row-255px  > .x-grid-cell { height:255px !important; }
.x-grid-row.intel-row-290px  > .x-grid-cell { height:290px !important; }
.x-grid-row.intel-row-325px  > .x-grid-cell { height:325px !important; }
.x-grid-row.intel-row-360px  > .x-grid-cell { height:360px !important; }

.x-grid-row .intel-editor-cell {  cursor:pointer !important; }
.x-grid-row .intel-editor-cell *{ cursor:pointer !important; }

.intel-button-cell  {  
	cursor:pointer !important; 
	background:rgb(63, 132, 164) !important; 
	color:white !important;
	border-radius:3px !important; 
	position: relative !important;
	line-height:25px;
	text-align:center;
	height:25px !important;
}

.grey-row .x-grid-cell { background-color:rgba(224, 224, 224, 0.15) !important; }
.grey-row.x-grid-row-selected .x-grid-cell { background-color:rgba(224, 224, 224, 0.25) !important; }
.red-row .x-grid-cell { background-color:rgba(255, 0, 0, 0.15) !important; }
.red-row.x-grid-row-selected .x-grid-cell { background-color:rgba(255, 0, 0, 0.25) !important; }
.green-row .x-grid-cell{ background-color:rgba(0, 255, 0, 0.15) !important; }
.green-row.x-grid-row-selected .x-grid-cell { background-color:rgba(0, 255, 0, 0.25) !important; }


.x-grid-row .red-cell.x-grid-cell { background-color:rgba(255, 0, 0, 0.15) !important; }
.x-grid-row-selected .red-cell.x-grid-cell { background-color:rgba(255, 0, 0, 0.25) !important; }

/************ dependencies stuff ******************/
.intel-team-dep-not-selected .x-grid-cell,
.x-grid-row-selected .intel-team-dep-not-selected .x-grid-cell { 	background-color:rgba(255, 0, 0, 0.15) !important; }
.intel-team-dep-not-selected.x-grid-row-selected .x-grid-cell {  background-color:rgba(255, 0, 0, 0.25) !important; }

.x-grid-row.intel-no-team-dep-selected .x-grid-cell { background-color:rgba(224, 224, 224, 0.15) !important; }
.x-grid-row-hover.intel-no-team-dep-selected .x-grid-cell,
.x-grid-row-selected.intel-no-team-dep-selected .x-grid-cell { background-color:rgba(224, 224, 224, 0.25) !important; }
	
.x-grid-row .intel-not-supported-cell.x-grid-cell { background-color:rgba(255, 0, 0, 0.15) !important; }
.x-grid-row-selected .intel-not-supported-cell.x-grid-cell { background-color:rgba(255, 0, 0, 0.25) !important; }

.x-grid-row .intel-supported-cell.x-grid-cell { background-color:rgba(0, 255, 0, 0.15) !important; }
.x-grid-row-selected .intel-supported-cell.x-grid-cell { background-color:rgba(0, 255, 0, 0.25) !important; }