.portfolio-cfd-app {
	width: 100% !important;
	overflow-x:hidden;
	overflow-y: scroll !important; }

.portfolio-cfd-app .navbar {
	border-bottom: 1px dotted #c6c6c6;
	line-height:1.1em; }

.portfolio-cfd-app .current-project-only {
	float: left; }

.portfolio-cfd-app .current-project-only-checkbox {
	float: left;
	margin-left: 10px; }