.app {
	overflow-x:hidden !important; }
	
.scrum-chart {
	padding-top:20px;
	height:360;
	width:32%;
	float:left; } 
.cachemessagecontainer{
	width: 90%;
  padding-left: 50%;
}
.modified-date{
	color: green;
}