.app {
     /* Add app styles here */
	 
}
.clickForDateChange{
	text-decoration:underline;
	font-style:italic;
	cursor: pointer;
	padding-top: 5px;
	padding-left: 5px;
}
.datePickerWrapper{
	padding-left: 10px;
}
.chart-wrapper{
	margin: 10px;
	padding: 10px;
}
.retrochart-wrapper{
	clear:both;
	float:right;
/* 	border: solid green 1px; */
	/*change the width percentage to change the size of the donut-wrapper*/
}
.barchart-wrapper{
	margin-top:20px;
	border: solid #BFBFBF 2px;  
	width: 100%;/*change the width percentage to change the size of the donut-wrapper
	background-color:red;*/
}
.chart-with-border{
	font-weight: bold;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	z-index: -1 ;
}
.chart-with-border2{
	/* border: solid #92d947 1px; */
}
.chart-with-border3{
 	 border: solid #BFBFBF 4px;  
	 background-color:green;
}
span#retroDonutScopeArrow-outerCt,span#retroDonutCaOriginalArrow-outerCt,span#retroDonutCaFinalArrow-outerCt {
	 margin-top: 70px; 
	 margin-left: 60px;
}
#retroDonutScopeFooter,#retroDonutCaOriginalFooter,#retroDonutCaFinalFooter {
	padding-top: 190px;
	padding-left: 0px;
	font-weight: bold;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}
.legendwrapper{
	/* width: 100%;
	text-align: center;
	height: 20px;
	padding-left: 70%;
	margin-bottom:20px; */
	float: right;
	width: 35%;
	text-align: center;
	margin-top: -50px;
}
.mtargetwrapper{
	float:left;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
}
.mtarget {
	float:left;
	background-color:#92D050;
	height:12px;
	width:16px;
	margin-left: 50px;
	margin-right:3px;
	margin-top: 3px;
}
.atarget {
	float:left;
	height:12px;
	width:16px;
	margin-left: 50px;
	margin-right:3px;
	margin-top: 3px;
}
.dtargetwrapper{
	float: left;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}
.dtarget{
	float:left;
	background-color:#d05052;
	height:12px;
	width:16px;
	margin-left: 10px;
	margin-right: 3px;
	margin-top: 3px;
}
#grid_header_hd{
	color: #396295;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	fill: #333333;
}

/* simple, float it right instead of left */
.progress-right .progress-bar-r {
    float: left;
	border:solid red 1px;
	height: 20px;
	text-align: left;
	background-color:#fc8585;
	text-shadow: 0 1px 0 #D05052;
	color:black;
}
div.sr-only {
  border: solid #D05052 1px;
  float: left;
  background-color:#D05052;
  color:white;
  height:19px;
  overflow:visible;
/*   direction: rtl; */
  
}
