.risksdeps-grid-header-text { font-size: 13px !important; }

.risksdeps-hidden-grid-row { display:none !important; }
	
/************************************************ NAVBAR/CONTAINERS *****************************************/
#navbar { padding:0 10px 0 10px; }
#releasePicker { margin: 4px 0 0 0; }
#manualRefreshButton { margin: 5px 0 0 5px; }

/************************************************ RISKS GRID *****************************************/
.risks-grid { margin:10px 10px 0px 10px; }

/************************************************ DEPENDENCIES GRIDS *****************************************/
.predecessors-grid { margin:40px 10px 0px 10px; }

.x-grid-body .x-grid-row .predecessor-hot-urgency-cell.x-grid-cell { background-color:rgba(255, 0, 0, 0.15) !important; }
.x-grid-body .x-grid-row-selected .predecessor-hot-urgency-cell.x-grid-cell { background-color:rgba(255, 0, 0, 0.25) !important; }
