.burndown-app .chartControls,
.app-settings .settings-form .paddedSettingCmp {
    margin: 15px;
    border: 0px;
    height: 100px;
}

.burndown-app .chartControls .rui-triggerfield {
    display: inline-block;
}

.burndown-app .chartControls label {
    display: inline-block;
    font-size: 1.2em;
    margin: 3px 8px;
}

.portfolio-cfd-app,
.portfolio-burnup-app,
.burndown-app {
    margin: 10px;
    padding-right: 20px;
    background-color: transparent;
}

.portfolio-cfd-app .rally-help-icon,
.burndown-app .rally-help-icon,
.portfolio-burnup-app .rally-help-icon,
.chart-app .rally-help-icon {
    float: right;
}

.portfolio-cfd-app .chart,
.portfolio-burnup-app .chart {
    min-height: 2em;
}

.app-settings .settings-form .piButton {
    padding: 5px 15px 7px 15px;
    z-index: 101;
    margin-bottom: 10px;
}

.app-settings .settings-form .piDisplayField {
    background-color: #e2eff6;
    margin-left: -10px;
    min-width: 250px;
    padding: 5px 20px 3px 25px;
    z-index: 100;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.app-settings .settings-form .settingsLabel {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    min-height: 20px;
    width: 100px;
}

.schedule-state-selector .x4-boundlist-selected .x4-form-checkbox {
    background-position: 0 -13px;
}

.x-boundlist-item img.stateFieldValue {
    background: transparent url('checkbox.gif');
    height: 13px;
    width: 13px;
}
.x-boundlist-selected img.stateFieldValue{
    background: transparent url('checkbox.gif');
    height: 13px;
    width: 13px;
    background-position-x: 0px;
    background-position-y: -13px;
}
